@import "tailwindcss";

:root {
    --background: #000000;
    --foreground: #171717;
    --color-blue: #172e64;
    --color-light-blue: #21a4d9;
    --color-accent: #132353;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-syne: var(--font-syne);
    --font-inter: var(--font-inter);
    --color-blue: #172e64;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
}

.header {
    background: var(--color-light-blue);
}

.icon {
    width: 48px;
    height: 48px;
    background: var(--color-blue);
    border-radius: 50%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.line {
    height: 42px;
    width: 2px;
    background: linear-gradient(0deg, transparent, var(--color-accent));
}

.hero-bg {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(255, 255, 255, .025) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .025) 1px, transparent 1px);
    background-size: 80px 80px;
    mask-image: radial-gradient(ellipse at center, black 30%, transparent 80%);

}
