@import "tailwindcss";

:root {
    --background: #000000;
    --foreground: #171717;
    --color-blue: #172e64;
    --color-light-blue: #21a4d9;
    --color-accent: #132353;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-syne: var(--font-syne);
    --font-inter: var(--font-inter);
    --color-blue: #172e64;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
}

.header {
    background: var(--color-light-blue);
}

.icon {
    width: 48px;
    height: 48px;
    background: var(--color-blue);
    border-radius: 50%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.line {
    height: 42px;
    width: 2px;
    background: linear-gradient(0deg, transparent, var(--color-accent));
}

.hero-bg {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(255, 255, 255, .025) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .025) 1px, transparent 1px);
    background-size: 80px 80px;
    mask-image: radial-gradient(ellipse at center, black 30%, transparent 80%);

}

.services {
    padding: 50px 36px;
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: relative;
    overflow: hidden;
    transition: background .4s ease;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__sec{
    margin-bottom: 4rem;
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-left: 1px solid rgba(255, 255, 255, 0.08);

    @media (width < 40rem) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.service-icon {
    width: 54px;
    height: 54px;
    border-radius: 14px;
    background: linear-gradient(135deg, rgba(93, 184, 240, .15), rgba(27, 42, 94, .3));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #5DB8F0;
    margin: 30px 0 28px;
    border: 1px solid rgba(93, 184, 240, .18);
    transition: transform .4s;
}

.section-title {
    font-size: clamp(36px,5vw,72px);
    max-width: 800px;
}

.section-tag::before{
    content: "";
    width: 24px;
    height: 1px;
    background: #21a4d9;
}

.portfolio{
    padding: 140px 5vw;
}