.animate_h1 {
    animation: fadeInUp .5s ease-in-out;
}

.animate_para {
    animation: fadeInUp .5s ease-in-out .2s;
    animation-fill-mode: both;
}

.animate_btn {
    animation: fadeInUp .5s ease-in-out .4s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}